// === nav bar === //

nav{
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    transition: all 0.4s ease;
    box-sizing: border-box;
    .nav{
        display: flex;
        justify-content: center;
        height: 100%;
        padding: 1.2em 0;
        position: relative;
        left: 20%;
        a{
            color: white;
            font-style: italic;
            position: relative;
            transition: all 0.4s ease;
        }
        a:after{
            content: "";
            background-color: white;
            height: 1px;
            width: 110%;
            position: absolute;
            bottom: 0;
            right: -10%;
            transition: all 0.4s ease;
        }
        li{
            padding: 0 1em;
        }
    }

    .logo{
        position: relative;
        right: 15%;
        padding: 0.3em
    }
}

.btn-nav{
    font-size: 2em;
    position: fixed;
    right: 1em;
    top: 0.5em;
    z-index: 9999999999;
    display: none
}

// === Hero === //
.hero{
    height: 100vh;
    background-image: url('../images/hero1.png');
    background-size: cover;
    background-position: top;
    position: relative;
    .snow{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        filter: opacity(0.2)
    }
    .title{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 29vh;
        img{
            position: relative;
            right: 7em;
        }
    }
}

@media (max-width:1295px){
    .hero .title{
        top: 26vh;
    }
    .hero .title img{
        width: 450px;
        right: 5em;
    }
}
@media (max-width:1040px){
    .hero .title{
        top: 19vh;
    }
    .hero .title img{
        width: 400px;
        right: 5em;
    }
}

@media (max-width:590px){
    .hero .title{
        top: 15vh;
    }
    .hero .title img{
        width: 300px;
        right: 4em;
    }
}
@media (max-width:500px){
    .btn-nav{
        display: block;
    }
    nav .nav{
        display: block
    }
    nav .nav a{
        display: block;
        font-size: 2em;
        font-style: normal;
        padding: 1em;
    }
    nav .nav a:after{
        display: none
    }
    nav .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        padding-right: 10em;
        padding-top: 40vh;
        background-color: black;
        width: 100%;
        height: 100%;
        display: none
    }
    nav{
        height: 100%;
    }
    nav .nav li{
        padding-left: 25%
    }
    nav  .logo{
        right: 30%;
    }
}

@media (max-width:400px){
    .hero .title{
        top: 0vh;
        height: 100%
    }
    .hero .title img{
        width: 220px;
        right: 0em;
    }
}